*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%; /* width me permet de prendre toute la largeur de l'ecran */
    min-height: 100vh; /* min-height me permet de prendre toute la hauteur de l'ecran */
    background: linear-gradient(135deg, #4203a9, #90bafc); /* background me permet de mettre une couleur de fond */
    color: #fff; /* color me permet de mettre une couleur au texte */
    padding: 10px; /* padding me permet de mettre un espace entre le texte et le bord */
}
.calculator{
    width: 100%; /* width me permet de prendre toute la largeur de l'ecran */
    max-width: 600px; /* max-width me permet de limiter la largeur de la boite */
    margin-left: 10%; /* margin left me permet de centrer la boite */
    margin-top: 10%; /* margin top me permet de centrer la boite */
}

.calculator h1{
    font-size: 60px; /* font-size me permet de mettre une taille au texte */
}

.calculator h1 span{
    color: #ffff76; /* color me permet de mettre une couleur au texte */
}

.input-box{
    margin:40px 0; /* margin me permet de mettre un espace entre les elements */
    padding: 35px; /* padding me permet de mettre un espace entre le texte et le bord */
    border-radius: 10px; /* border-radius me permet de mettre des bords arrondis */
    background: rgba(255, 255, 255, 0.3); /* background me permet de mettre une couleur de fond */
    display: flex; /* display me permet de mettre les elements en ligne */
    align-items: center; /* align-items me permet de centrer les elements verticalement */
}

.input-box input{
    flex:1; /* flex me permet de prendre toute la largeur disponible */
    margin-right: 20px; /* margin-right me permet de mettre un espace entre les elements */
    padding: 5px; /* padding me permet de mettre un espace entre le texte et le bord */
    position: relative; /* position me permet de positionner les elements */
}

.input-box button{
    background: #ffff76; /* background me permet de mettre une couleur de fond */
    border: 0; /* border me permet de supprimer la bordure */
    outline: 0; /* outline me permet de supprimer le contour */
    padding: 15px 30px; /* padding me permet de mettre un espace entre le texte et le bord */
    border-radius: 5px; /* border-radius me permet de mettre des bords arrondis */
    font-weight:500; /* font-weight me permet de mettre une graisse au texte */
    color:#333; /* color me permet de mettre une couleur au texte */
    cursor: pointer; /* cursor me permet de changer le curseur */
}


.input-box input::-webkit-calendar-picker { /* Pour les inputs de type date, -webkit-calendar-picker me permet de cibler l'icone du calendrier pour les navigateurs basés sur WebKit */
    top:0; /* top me permet de positionner l'element */
    right:0; /* right me permet de positionner l'element */
    left: 0; /* left me permet de positionner l'element */
    bottom: 0; /* bottom me permet de positionner l'element */
    width: auto; /* width me permet de mettre une largeur automatique */
    height: auto; /* height me permet de mettre une hauteur automatique */
    position: absolute; /* position me permet de positionner les elements */
    background-position: calc(100% - 10px); /* background-position me permet de positionner l'image de fond */
    background-size: 30px; /* background-size me permet de mettre une taille a l'image de fond */
    cursor: pointer; /* cursor me permet de changer le curseur */ 
}

#result{
    font-size: 20px; /* font-size me permet de mettre une taille au texte */
    text-align: center; /* text-align me permet de centrer le texte */
}
#result span{
    font-weight: 600; /* font-weight me permet de mettre une graisse au texte */
    color: #ffff76; /* color me permet de mettre une couleur au texte */
}